﻿@model gExchange.Web.ViewModel.OfferVM

<h4>Send Offer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="add-offer-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(model=>model.ItemId, new { id = "po_add_item_id" })
           
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>
