﻿@model gExchange.Web.ViewModel.MessageVM

<h4>Send Message</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="add-message-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(model=>model.RecipienId, new { id = "pm_add_recipient_id" })
           
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>
