﻿@model gExchange.Web.ViewModel.CommentVM

<h4>Post Comment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="add-comment-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(model=>model.ItemId, new { id = "pc_add_item_id" })
           
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>