﻿@model gExchange.Web.ViewModel.ItemVM

<h4>Add Item</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="item-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ItemState" class="control-label"></label>
                @Html.DropDownListFor(model => model.ItemState, new List<SelectListItem>
                {
                    new SelectListItem{ Text="Private", Value = "Private" },
                    new SelectListItem{ Text="Public", Value = "Public" }
                })
                <span asp-validation-for="ItemState" class="text-danger"></span>
            </div>
            @Html.HiddenFor(model => model.OwnerId)
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label">Created At:</label>
                @Html.DisplayFor(model => model.CreatedAt)
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedAt" class="control-label">Updated At:</label>
                @Html.DisplayFor(model => model.UpdatedAt)
                <span asp-validation-for="UpdatedAt" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label">Created By:</label>
                @Html.DisplayFor(model => model.CreatedBy)
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedBy" class="control-label">Updated By:</label>
                @Html.DisplayFor(model => model.UpdatedBy)
                <span asp-validation-for="UpdatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">

            </div>
        </form>
    </div>
</div>



