﻿@model gExchange.Web.ViewModel.ItemVM

@{
    ViewData["Title"] = "Item Details";
}

<h1>Goodie Details</h1>
<hr />
<div class="details-container-prim">

    <dl class="row">
        @Html.HiddenFor(model => model.Id, new { id = "dItemId" })
        @Html.HiddenFor(model => model.User.Id, new { id = "dUserId" })


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ItemState)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ItemState)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayName("Owner")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.FirstName)
            @Html.DisplayFor(model => model.User.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>
    </dl>
</div>
<div class="details-container-sec">
    <div class="details-container-sec-nav">
        <span con-attr="add-message-container" class="active">Message</span>
        <span con-attr="add-offer-container">Offer</span>
        <span con-attr="add-comment-container">Comment</span>
    </div>
    <div class="details-comm-container">
        <div id="add-message-container"></div>
        <input type="button" value="Send Message" id="save-message" class="btn btn-primary" />
    </div>
    <div class="details-comm-container hidden">
        <div id="add-offer-container"></div>
        <input type="button" value="Send Offer" id="save-offer" class="btn btn-primary" />
    </div>
    <div class="details-comm-container hidden">
        <div id="add-comment-container"></div>
        <input type="button" value="Post Commment" id="save-comment" class="btn btn-primary" />
    </div>
</div>
<div>
    @await Html.PartialAsync("../Comment/_comments", Model.Comments) 
</div>
<div>
    @await Html.PartialAsync("../Offer/_offers", Model.Offers)
</div>
<div style="clear:both">

    <a asp-action="Index">Back to List</a>
</div>


@section scripts {
    <script src="~/js/itemDetails.js" asp-append-version="true"></script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
