﻿
@{
    ViewData["Title"] = "Goodies";
}

<h1>Goodies</h1>

<div id="items-container">

</div>

<input type="button" value="Show/Refresh list" id="show-items" class="btn btn-primary" />
<input type="button" value="Create Item" id="add-item" class="btn btn-primary" />
<input type="button" value="Save Item" id="save-item" class="btn btn-primary hidden" />


@section scripts {
<script src="~/js/exchangeItem.js" asp-append-version="true"></script>

@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

