﻿@model gExchange.Web.ViewModel.LoginVM

@{ ViewData["Title"] = "Login";
    string error_message = (string)TempData["error_message"];
    Layout = "_LayoutAnonim"; }

<div class="col-md-4 col-md-offset-4" style="width:100%; margin:0 auto;">
    <h2>Goodies Exchange</h2>

    <form asp-action="Login">

        <div class="form-group">
            <label>Username: </label>
            <div>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label>Password: </label>
            <div>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>

        <input type="submit" class="form-control btn btn-primary" value="Login" />
        <input asp-for="RememberPassword" />   Remember Password
    </form>

    @if (error_message != null)
    {
<br />
                <div class="alert alert-danger">
                    @error_message
                </div>}
</div>
