﻿@model gExchange.Web.ViewModel.SignupVM

@{ ViewData["Title"] = "Signup";
    string error_message = (string)TempData["error_message"];
    Layout = "_LayoutAnonim"; }

<div class="col-md-4 col-md-offset-4" style="width:100%; margin:0 auto;">
    <h2>Goodies Exchange</h2>

    <form asp-action="Signup">

        <div class="form-group">
            <label>First Name: </label>
            <div>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label>Last Name: </label>
            <div>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label>Email: </label>
            <div>
                <input asp-for="Mail" class="form-control" />
                <span asp-validation-for="Mail" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label>Password: </label>
            <div>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label>Confirm Password: </label>
            <div>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>

        <input type="submit" class="form-control btn btn-primary" value="Signup" />
    </form>

    @if (error_message != null)
    {
        <div class="alert alert-danger">
            @error_message
        </div>
    }
</div>
